<div class="responsivenav">
  <a id="search-icon" class="fa fa-search" title="Search" href="?search=racc"></a>

  <a id="toggle-icon" class="toggle fa fa-bars" title="Menu" href="#off-canvas"></a>
</div>
